:root {
  --baseColorNo: 308;
  --timeline: 0.15em;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

main{
  display: flex;
  justify-content: center;
}

#experience {
  width: 900px;

}

/*TIMELINE STYLES*/

.timelineContainer {
  position: relative;
  width: 900px;
}

.timeline {
  width: 100%;
  height: var(--timeline);
  background-color: black;
  z-index: 4;
}

.point {
  width: var(--timeline);
  height: 0.7em;
  background-color: black;
}


#junior, #designer, #pm{
  position: relative;
  left: 9%;
}

#junior {
  width: 11%;
}

#designer {
  width: 20%;
}

#pm {
  width: 50%;
}

#junior .resp {
  height: 20px;
  background-color: hsla(var(--baseColorNo), 20%, 60%, 0.7);
  position: relative;
  top: 40px;
  width: 650%;
  z-index: 3;
}

#designer .resp {
  height: 40px;
  background-color: hsla(var(--baseColorNo), 40%, 50%, 0.7);
  position: relative;
  top: 20px;
  width: 330%;
  z-index: 2;
}

#pm .resp {
  height: 60px;
  background-color: hsla(var(--baseColorNo), 70%, 50%, 0.7);
  position: relative;
  width: 100%;
  z-index: 1;
}

#junior .period, #designer .period, #pm .period {
  width: 100%;
  border-left: 1px dashed black;
  height: 100px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 70px;
  padding-left: 0.4em;
}

.list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: italic;
  font-size: 13px;
}

.timePeriod {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.year {
  display: flex;
  align-self: center;
}

.timelineContent {
  display: flex;
}

/*RESPONSIBILITIES DESCRIPTION STYLES*/

.responsibilities{
  display: flex;
  align-items: flex-start;

}

.responsibilities ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.responsibilities li{
  padding: 5px;
  border: 1px dashed grey;
}

.respHeader{
    margin-top: 5em;
    margin-bottom: 1em;

}


.juniorResp{
  border-left: 7px solid hsla(var(--baseColorNo), 20%, 60%, 0.7);
}

.designerResp{
  border-left: 7px solid hsla(var(--baseColorNo), 40%, 50%, 0.7);
}

.pmResp{
  border-left: 7px solid hsla(var(--baseColorNo), 70%, 50%, 0.7);
}
